version: '3'

services:
  back:
    container_name: workit-back
    build: ./2104-wns-paris-ammaq-back
    command: sh -c "npm run build && npm run prod"
    expose:
      - 5000
    env_file:
      - ./2104-wns-paris-ammaq-back/.env
    environment:
      - NODE_ENV=production
      - SERVER_PORT=5000
  front:
    container_name: workit-front
    build: ./2104-wns-paris-ammaq-front
    command: sh -c "npm run build"
    volumes:
      - web-client-build:/app/build
    environment:
      - NODE_ENV=production
  nginx:
    image: nginx:1.21.3
    depends_on:
      - server
      - client
    restart: always
    ports:
      - ${GATEWAY_PORT}:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - web-client-build:/web-client-build
volumes:
  web-client-build: